
.b-strip {
    border-bottom: 4px #1e6bab  solid ;
}
.yellow-strip {
    background-color: rgba(221, 180, 62, 0.7);
    height: 275px;
    width: 100%;
    position: absolute;
    top: 43%;
}
.hero-button {
    background-color: #849916;
    width: 10%;
    display: block;
    margin: 1rem auto;
    padding: 0.8rem 0;
    color: #fff;
    font-weight: normal;
    font-size: 0.8rem;
}
.m-t {
    margin-top: 4.5%;
}
.bg-grey {
    background-color: #3e4094;
    padding-top:3rem;
    padding-bottom: 2.5rem;
}
.fill-current {
    color: #d0e3f3;
}
.bg-grey h3 {
    color:#fff;
    font-size: 1.5rem;
    padding-bottom: 1rem;
    height: 3rem;
}
.bg-grey p {
    font-style: normal;
    color: #d0e3f3;
    font-size: 0.8rem;
}
.copyrights {
    color: #d0e3f3;
    font-size: 0.7rem;
    padding-top: 1rem;
}
.footerLinks a{
    font-style: normal;
    color: #d0e3f3 !important;
    font-size: 0.8rem !important;
}
.footerLinks a:hover,
.services a:hover{
    text-decoration: underline;
}

.services a{
    font-style: normal;
    color: #d0e3f3;
    font-size: 0.8rem;
}
.footerLinks ul {
    display: block;
}
.footerLinks button.inline-flex.items-center {
    display: none !important;
}
.footerLinks ul li  ul {
    display: none !important;
}
.footerLinks ul li a  {
    border-top:none !important;
}
.footerLinks .items-center {
    display: block !important;
}
.footerLinks .main-menu li {
    border: none !important;
}
ul.footerLinks li:nth-child(3){
    display:none;
 }
 .footerLinks button {
    display: none;
 }
.brd-color {
    border-color:#fff;
}
.main-menu li:hover ul{
    position: absolute;
    z-index: 99;
    background-color: #fff;
    padding: 0 1rem 1rem 1rem;
    margin-left: -16px;
    border-radius: 17px;
    display: block;
    line-height: 1.8rem;
    padding-top: 10px;
}
.main-menu li ul li a:hover {
    text-decoration: underline;
}

.main-menu li {
    transition: 0.3s ease;
    text-decoration: none;
    border-top: 2px solid #fff;
  }
  .main-menu li a:hover,  .main-menu li a.active {
    border-top: 2px solid #de4f46;
    padding: 6px 0; 
    color: #de4f46;
  }
  .main-menu li ul li {
    padding: 0 !important;
    margin: 0 !important;
  }

  .main-menu li ul li  a:hover {
    border-top: 0px solid #fccf3c;
    border-bottom: 0px solid #fccf3c;
  }
  .main-menu li a {
    color: #3e3f98;
    font-size: 16px;
  }

  .titleText {
    margin-top: 7rem;
    color: #fff;
    font-size: 3rem;
    border-bottom: #fff solid 2px;
  }

  /* image zoo*/


.vegetables img {
    max-width: 100%;
    transition: all 0.3s;
    display: block;
    width: auto;
    height: auto;
    transform: scale(1);
    border: 3px solid #e0dfdfe6;
}

.vegetables:hover img {
    transform: scale(1.1);
}
.br-r {
    border: 2px solid #fccf3c;
    border-radius: 93px;
}
.fb {
    font-family: 'poppinssemibold';
}
.list-space li {
    padding: 0.5rem 0;
    list-style-position:outside;
}
.why {
   /* background: #e8e8ea; */
    padding: 2rem;
    margin-top: 3rem;
    background: linear-gradient(39deg, rgba(255,255,255,1) 36%, rgb(30 107 171 / 65%) 100%, rgb(30 107 171) 100%);
    
}
.y-f {
    color: #0d173cb3;
}
.logoFooter a {
    display: block;
    border-radius: 0.3rem;
    padding: 0 0.4rem;
}
.logoFooter a img {
    width: 335px;
    padding-top:2rem;
}

.page-header {
  position: fixed;
  margin-top: 0px;
  margin-bottom: 0px;
  top: 0px;
  background: #fff;
  width: 100%;
  z-index: 999;
  height: 107px;
  }
  
  .desktop {
    position: absolute;
    text-align: center;
    z-index: 99;
    background-color: red;
    color: #fff;
    font-size: 3rem;
    display: none;
  }
  .mt107 {
    margin-top: 107px;
  }

 ol {
   /* list-style-image: url('../public/images/icon-t.png'); */
    }

  .wc {
        display: inline-block;
        position: relative;
        top: -3px;
    }
    .mtb {
        margin-bottom: 10rem;
    }

    .contactForm input, .contactForm textarea{
        border: #ccc 1px solid;
        border-radius: 3px;
        padding: 0.3rem;
        width: 60%;
    }
    .contactForm input:focus, .contactForm textarea:focus {
        border: #ccc 0px solid;
    }
    .contactForm label{
        display: block;
        font-size: 0.8rem;
    }
    .submit {
        background-color: #dc435d;
        padding: 1rem;
        border-radius: 0.3rem;
        color: #fff;
    }
    .c-form {
        padding-bottom: 1.5rem;
    }
    .thankyou {
        margin-top: 23px;
        color: #6bbf59;
        border: 1px #6bbf59 solid;
        padding: 8px;
    }
    .blueText {
        color: #1e6bab;
    }
    .font-bold {
        font-weight: bolder;
    }
    .wf input{
        width:95%;
    }
    .wl input{
        width:92%;
    }
    .cw input{
        width: 71%;
    }
    .cw {
        width: 21%;
    }
   
    .pw input{
        width: 100%;
    }
    .pw {
        width: 39%;
    }
    .ab-mobileMenu {
        position: absolute;
        background: #1e6bab;
        margin-top: 95px;
        margin-left: -14px;
    }
    .ab-mobileMenu  a{
        color: #fff;
    }
    .mobile-sub-menu {
        padding-left: 10px;
    }
    .count-3 {
        column-count: 3;
    }
 
   .components  li::before {
        content: "";
        position: absolute;
        left: 0;
        top: 2px;
        width: 24px;
        height: 24px;
        background-image:url('/images/c-icon.gif');
        background-repeat: no-repeat;
    }
.scroll-img li img {max-width: fit-content;}
.scroll-img li {
    border: 1px solid #a3a4cc;
    border-radius: 1px;
}   

.pb {
    border-bottom: 1px solid #c6c6c6;
    padding-bottom: 10px; 
}
.brd-grey {
    border-bottom: 1px solid #c6c6c6 ;
}
.copy {
    padding-left: 5px;
    padding-top: 3px;
    cursor: pointer;
}
.copy-black {
    padding-left: 6px;
    padding-top: 5px;
    cursor: pointer;
}